.images-container {
    margin: 25px auto;
}

.cpo-flag {
    color: #f55d22;
    font-size: 14px;
    margin-left: -40%;
}

.year-make {
    text-align: left;
    font-size: 22px;
    font-weight: 300;
    margin-left: -40%;
}

.model-body {
    font-weight: 500;
    text-align: left;
    margin-left: -40%;
}

.details-mileage {
    color: gray;
    font-size: 14px;
    margin-left: -74px;
}

.favorite-container {
    float: right;
    margin-right: 22%;
    text-align: center;
}

.secondary-info {
    text-align: left;
    margin-left: -40%;
}